.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 8px grey;
          box-shadow: 0px 0px 8px grey;
  height: 45px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
}

.navBar .navMenu {
  color: grey;
}

.navBar img {
  width: 50px;
}

.navBar .avatar {
  margin-right: 20px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  -webkit-box-shadow: 0 0 30px #90909066;
          box-shadow: 0 0 30px #90909066;
  border-radius: 6px;
}

.cardHeader {
  border-radius: 6px 6px 0 0;
  background-color: #202942;
  color: white;
  -webkit-box-shadow: 0 0 30px #90909066;
          box-shadow: 0 0 30px #90909066;
  padding: 20px;
}

.cardHeader p {
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}

.cardHeader span {
  color: gray;
  font-size: small;
}

.items {
  padding: 20px 20px 0px 20px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

.item img {
  width: 18px;
}

.item p {
  margin: 0%;
  margin-left: 20px;
  color: #0a2239;
  font-weight: bold;
}

.content {
  padding: 0px 20px 10px 20px;
  text-align: left;
  font-size: 12px;
}

.hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2355fc0f;
  color: #194dff;
  height: 26px;
}

.hide p {
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

.profile {
  padding: 0px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.profileImage {
  width: 20px;
}

.details {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  text-align: left;
}

.details h3,
.details p {
  margin: 0;
}

.details p {
  color: gray;
  font-size: 12px;
}

.details h3 {
  font-size: 15px;
  margin-bottom: 3px;
}

.formCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  -webkit-box-shadow: 0 0 30px #90909066;
          box-shadow: 0 0 30px #90909066;
  border-radius: 6px;
  padding: 20px;
}

.formCard h2 {
  font-size: 50px;
  margin: 0;
}

.formCard .buttons {
  margin-top: 10px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 0 20px;
}

.form input {
  padding: 20px;
  width: 100%;
  font-size: 18px;
  border-radius: 6px;
  border-color: grey;
  margin-top: 40px;
  font-weight: bold;
}

.numLabel {
  position: relative;
  left: -20%;
  bottom: -50px;
  background-color: white;
}

.nameLabel {
  position: relative;
  left: -30%;
  bottom: -50px;
  background-color: white;
}

.fixed {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3054d60f;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
  border-color: #3054d6;
  color: #3054d6;
}

.rate {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f9fb80;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
  border-color: rgba(128, 128, 128, 0.541);
  color: #0a2239;
}

.formCard > button {
  padding: 20px;
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
  border-color: rgba(35, 85, 252, 0.3);
  background-color: #3054d60f;
  color: rgba(35, 85, 252, 0.3);
  margin-top: 30px;
  font-weight: bold;
}
/*# sourceMappingURL=Main.css.map */